
{% extends 'base.html' %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/styles.css' %}">
{% block title %}JapLAN - Маршруты путешествий{% endblock %}

{% block content %}
    <div class="row">
        <div class="Col-md-8 col-sm-12">
            <div class = "article-list">
                {% for article in articles %}
                    <div class="article">
                        <h1 class="article-title">
                            <a href="{{ article.get_absolute_url }}">{{ article.title }}</a>
                        </h1>
                        <div class="article-summary">{{ article.summary }}</div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}